<!DOCTYPE html>
html(lang="de")
    head
        link(href="/css/styles.css" rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body.body
        block content
        script(src="/scripts/index.js")